
body{
    background: #FFFDF2;
    font-family: "Mulish";
}

#career h2{
    text-align: center;
    font-size: 36px;
    font-weight: 800;
}

#career img{
    width: 70rem;
    height: 25rem;
    /* left: 95px;
    top: 225px;
    border-radius: 0px; */
}

#career p{
    font-size: 20px;
    line-height: 23px;
    font-weight: 700;
}

#career .button{
    display: flex;
    justify-content: center;
}

.button button{
    width: 120.67px;
    height: 49px;
    background: #464444;
    border-radius: 11px;
}
.button button span{
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #FFD728;
}

#career hr{
    border: none;
    height: 1px;
    background: #C4C4C4;
    margin-bottom: 5rem;
}

.image{
    width: 25rem;
    height:25rem;
    background: #FFCE00;
}

#content .row{
    margin-bottom: 7rem;
    
}

#content .row h3{
    color: #464444;
    font-size: 35px;
    /* line-height: 26px; */
    padding-bottom: 1.4rem;
    font-weight: 800;
    
}

#content .row p{
    font-size: 1.2rem;
}

#icons h2{
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
}

#icons .icon-image{
    display: flex;
    justify-content: center;
}

#icons .icon-image img{
    width: 60rem;
    height: 30rem;
}

#icons hr{
    border: none;
    height: 1px;
    background: #C4C4C4;
    /* margin-bottom: 5rem; */
}