html, body {
    overflow-x: hidden;
  }
 
body{
    position: relative;
    background: #FFFDF2;
    font-family: "Mulish";
    
}

#career h2{
    text-align: center;
    font-size: 2.8rem;
    font-weight: 800;
}

#career img{
    width: 70rem;
    height: 25rem;

}

#career p{
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
}

#career .button{
    display: flex;
    justify-content: center;
}

.button button{
    width: 8rem;
    height: 3rem;
    background: #464444;
    border-radius: 11px;
}
.button button span{
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 27px;
    color: #FFD728;
}

#career hr{
    border: none;
    height: 1px;
    background: #C4C4C4;
    margin-bottom: 5rem;
}

#content .image{
    width: 25rem;
    height:25rem;
    background: #FFCE00;
}

#content .row{
    margin-bottom: 7rem;
    
}

#content .row h3{
    color: #464444;
    font-size: 35px;
    padding-bottom: 1.4rem;
    font-weight: 800;
    
}

#content .row p{
    font-size: 1.2rem;
}

#icons h2{
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
}

#icons .icon-image{
    display: flex;
    justify-content: center;
}

#icons .icon-image img{
    width: 60rem;
    height: 30rem;
}

#icons hr{
    border: none;
    height: 1px;
    background: #C4C4C4;
}

@media only screen and (max-width: 480px) {

    #career h2{
        text-align: center;
        font-size: 1.4rem;
    }

    #career .landing{
        display: flex;
        justify-content: center;
    }
    
    #career img{
        width: 25rem;
        height: 12rem;
    }
    
    #career p{
        text-align: center;
        font-size: 0.7rem;;
    }
     
    .button button{
        width: 80px;
        height: 35px;
    }
    .button button span{
        font-size: 0.8rem;
    }


    #content .image{
        width: 12rem;
        height: 15rem;
        background: #FFCE00;
    }
    
    
    #content .row h3{
        font-size: 1.2rem;;
        padding-bottom: 0.4rem;
        
    }
    
    #content .row p{
        font-size: 0.7rem;
    }

    #icons h2{
        font-size: 1.3rem;
    }
    
    
    #icons .icon-image img{
        width: 26rem;
        height: 13rem;
    }
    



}